
{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap4 %}

{% block content %}
    <div class="jumbotron mt-5 editable" style="background-color: cornsilk">
      WELCOME TO S4FE BACKEND APPLICATION
    </div>
{#    <div class="top-140-pad">#}
{#        <div class="sticky pull-right">#}
{#            <div>#}
{#              <a href="https://s4fe.io/">#}
{#                  <span class="badge badge-success pull-right">#}
{#                      <div id="image" style="display:inline;">#}
{#                        <img class="img-fluid pencil" src="{% static 'img/s4fe.png' %}" alt="Built for www.s4fe.io" height="30" width="30">#}
{#                          </div>#}
{#                      <div id="texts" style="display:inline; margin-left: 4px;">#}
{#                        Made with Django#}
{#                      </div>#}
{#                  </span>#}
{#              </a>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{% endblock %}

